# Credenciais do Banco Docker
DB_NAME=storedb
DB_USER=storeuser
DB_PASSWORD=
DB_ROOT_PASSWORD=

# Segurança
JWT_SECRET=Igual que estiver no Gateway e no Store
JWT_EXPIRATION=
# E-mail
EMAIL_USERNAME=your_email@gmail.com
EMAIL_PASSWORD=your_app_password