# === Maven wrapper downloads/cache ===
**/.mvn/wrapper/maven-wrapper.jar

# === Spring / runtime ===
**/logs/
**/*.log
docker-compose.txt
# === Test outputs ===
results/
**/results/
**/results_visual/

# === Uploads local ===
store_uploads/
**/uploads/


# === Secrets / env ===
.env
**/.env

# === Logs ===
*.log

# === Java / Maven / Gradle ===
target/
*.class
*.jar
*.war
*.ear

# === Node / Front ===
node_modules/
dist/
build/

**/.git

# === IDEs ===
.idea/
.vscode/
*.iml

# === OS ===
.DS_Store
Thumbs.db
